.item-list-container {
  padding: 1rem;
  background-color: #ded5d586;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 1rem 0;
  text-align: center;
}