.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 0.5rem 1rem;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo h1 {
  font-size: 1.5rem;
  padding: 15px;
  background-color: #333;
  margin: 0;
  color: white;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: color 0.3s;
}

.navbar-links li a:hover {
  color: #4c44e8;
}

.navbar-links li a.active-link {
  font-weight: bold;
  color: #cdaa20; /* Cambia esto al color que prefieras */
}

.navbar-cart {
  position: relative;
  padding: 15px 25px 15px 0;
  margin-left: 1rem; /* Ajustar margen izquierdo para separar del borde */
}

.cart-button {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.cart-count {
  background-color: #f00;
  color: #fff;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  position: absolute;
  top: -5px; /* Ajustar la posición superior */
  right: 4px; /* Ajustar la posición derecha */
}

